# SERVER
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
SERVER_NODEID=0
SERVER_LOGLEVEL=0 # lower value, more verbose log
SERVER_REQUEST_TIMEOUT=3000 # 3s


# POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=todennus

POSTGRES_LOGLEVEL=1  # lower value, more verbose log
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_TIMEZONE=UTC
POSTGRES_SSLMODE=disable
POSTGRES_RETRY_ATTEMPTS=3   # the number of attempts to connect to database if it is failed.
POSTGRES_RETRY_INTERVAL=5   # 5s among attempts


# REDIS
REDIS_USERNAME=redis
REDIS_PASSWORD=redis
REDIS_ADDR=localhost:6379
REDIS_DB=0


# AUTHENTICATION
AUTH_TOKEN_RSA_PRIVATE_KEY=
AUTH_TOKEN_RSA_PUBLIC_KEY=
AUTH_TOKEN_HMAC_SECRET_KEY=supersecretkey

AUTH_ACCESS_TOKEN_EXPIRATION=60     # 1m
AUTH_REFRESH_TOKEN_EXPIRATION=3600  # 1h
AUTH_ID_TOKEN_EXPIRATION=86400      # 1d
AUTH_TOKEN_ISSUER="auth.todennus.com"


# OAUTH2
OAUTH2_IDP_SECRET=super-idp-secret
OAUTH2_IDP_LOGIN_URL=http://localhost:7063/login
OAUTH2_CLIENT_SECRET_LENGTH=64
OAUTH2_AUTHORIZATION_CODE_FLOW_EXPIRATION=600 # 10m
OAUTH2_AUTHENTICATION_CALLBACK_EXPIRATION=300 # 5m
OAUTH2_SESSION_UPDATE_EXPIRATION=10 # 10s


# SESSION
SESSION_EXPIRATION=86400 # 1d
SESSION_AUTHENTICATION_KEY=session-authentication-key
SESSION_ENCRYPTION_KEY=encryption-supersecret-key
